@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html,
body {

    background-color: #2D2E36;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
}

.box {

    position: absolute;
    width: 356px;
    height: 616px;
    left: 30px;
    top: 140px;

}


img {
    padding-top: 5em;
    width: 14.38em;
    height: 13.63em;



}

.heading {

    display: flex;
    align-items: flex-start;
    color: white;

}

.para {
    display: flex;
    align-content: space-around;
    color: white;
}